<nz-layout>
    <nz-sider class="sider" nzCollapsible nzWidth="50vw" [nzCollapsedWidth]="100" [nzCollapsed]="true">
        <app-sidebar page="bookshelf"></app-sidebar>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div>
                <app-navbar page="bookshelf"></app-navbar>
            </div>
        </nz-header>
        <nz-content>
            <div class="bs">
                @if (userContextService.getUserName()) {
                    <app-bookshelf category=recent></app-bookshelf>
                    @for (category of this.userContextService.getBooks() | extractCategories; track $index) {
                        <app-bookshelf [category]=category></app-bookshelf>
                    }
                }
                @else {
                    Login to access your books
                }
            </div>
        </nz-content>
        <nz-footer>
            <div style="overflow: hidden;">
                🔗 <a href="https://github.com/a2823kevin/Online-PDF-Reader" target="_blank">Github Repo: https://github.com/a2823kevin/Online-PDF-Reader</a>
            </div>
            <div>
                ✉️ Contact me: lireez404&#64;gmail.com
            </div>
        </nz-footer>
    </nz-layout>
</nz-layout>