@media (max-width: 1000px) {
    nz-header {
        display: none;
    }
    nz-footer {
        margin-left: 100px;
    }
}

nz-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: linear-gradient(60deg, rgb(150, 0, 0), rgb(100, 0, 0)) !important;
    color: whitesmoke !important;
}

nz-sider {
    position: fixed !important;
    height: 100%;
    z-index: 999;
}

nz-footer {
    color: rgb(100, 100, 100) !important;
    background: rgb(230, 230, 230) !important;
    a {
        color: rgb(100, 100, 100);
    }
}

.ant-menu-title-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ant-card-cover {
    &:hover {
        cursor: pointer;
    }
}

.ant-layout-sider {
    background: linear-gradient(60deg, rgb(150, 0, 0), rgb(100, 0, 0));
}

.ant-layout-sider-trigger {
    background: rgb(75, 0, 0);
}

.ant-menu {
    color: whitesmoke !important;
    background: transparent !important;
}

