@media (min-width: 1000px) {
    .bs {
        margin-top: 13vh;
        margin-inline: 2%;
    }
    .sider {
        display: none;
    }
    .viewer {
        width: 750px; 
        height: 85vh;
    }
}

@media (max-width: 1000px) {
    .bs {
        margin-left: 105px;
    }
    .viewer {
        width: calc(100vw - 100px); 
        height: 100vh
    }
}

.bs {
    margin-bottom: 2vh;
}